a { color: #4796e6; }
a:hover { color: #52b8e3; }

.app { padding: 1em; text-align: center; }

.knob-wrapwrap { position: absolute; top: 1.5em; left: 1.5em; }
.next { position: absolute; top: 50%; right: 1em; font-size: 5em; }
.clear { position: absolute; bottom: 1em; font-size: 2em; margin-left: -2.1em; }
.programs { font-size: 20px; padding: 0.3em; }

.wrap { height: 100dvh; display: flex; align-items: center; justify-content: center; overflow: hidden; }
.content { font-weight: 700; font-size: 10vmin; display: inline-block; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); transition: transform 450ms ease; text-wrap: nowrap; }
sub { font-size: xx-large; } /* weird name, but renders as small */
::selection { background: transparent; }
.log { position: absolute; bottom: 0; display: flex; flex-direction: column-reverse; width: 100vw; height: 100vh; margin: 10px; overflow: hidden; opacity: 0.3; color: #333; font-family: monospace; pointer-events: none; z-index: -10; }
.log p { margin: 0; padding: 0; }

.flash1 { animation: flash-bg1 0.3s ease; }
.flash2 { animation: flash-bg2 0.3s ease; }
@keyframes flash-bg1 { 0% { background-color: #ffffff18; } 100% { background-color: #00000000; } }
@keyframes flash-bg2 { 0% { background-color: #ffffff18; } 100% { background-color: #00000000; } }

.wrap[data-mode=violin] .content { font-family: monospace; font-size: 60px; }
.wrap[data-mode=keys] .content { font-family: monospace; font-size: 60px; }

.wrap[data-mode=positions] .content { background: #fff; padding: 1em 1em 0 1em; font-family: inherit; font-size: inherit; }
.wrap[data-mode=positions] .flash1 { animation: flash-light-bg1 0.3s ease; }
.wrap[data-mode=positions] .flash2 { animation: flash-light-bg2 0.3s ease; }
@keyframes flash-light-bg1 { 0% { background-color: #bbb; } 100% { background-color: #ffffffff; } }
@keyframes flash-light-bg2 { 0% { background-color: #bbb; } 100% { background-color: #ffffffff; } }
.wrap[data-mode=positions] div,
.wrap[data-mode=positions] label { color: #333; }

.wrap[data-mode=sheetosmd] .content { width: 50%; font-family: inherit; font-size: inherit; }
.wrap[data-mode=sheetosmd] .flash1 { animation: flash-light-bg1 0.3s ease; }
.wrap[data-mode=sheetosmd] .flash2 { animation: flash-light-bg2 0.3s ease; }

.wrap[data-mode=missing-key] .content { font-size: 30px; }
